{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block header %}Create New Brand{% endblock %}

{% block main %}

    <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
        <label for="name">Name*</label>
        <input type="text" name="name" placeholder="Name" required="required"/>

        <button type="submit" class="btn btn-primary mt-2">Create Brand</button>
    </form>
    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}
    <h1>Brands</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th>Products</th>
        </tr>
    
        {% for brand in getBrands() %}
        <tr>
            <td>{{ brand.name }}</td>
            <td class="actions">
                <a href="{{ path('editBrand', {'id':brand.id}) }}" class="btn btn-warning">Edit</a>
                <a href="{{ path('removeBrand', {'id':brand.id}) }}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a class="dropdown-item" href="{{ path('showBrand', {'id':brand.id} )}}">
                    {{ brand.products|length }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}