{% extends 'base.html.twig' %}

{% block title %}Brands{% endblock %}

{% block header %}Brands{% endblock %}

{% block main %}
    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                    <th>Products</th>
                </tr>
            
                {% for brand in getBrands() %}
                <tr>
                    <td>{{ brand.name }}</td>
                    <td class="actions">
                        <a href="{{ path('editBrand', {'id':brand.id}) }}" class="btn btn-outline-warning">Edit</a>
                        <a href="{{ path('removeBrand', {'id':brand.id}) }}" class="btn btn-outline-danger">Delete</a>
                    </td>
                    <td>
                        <a href="{{ path('showBrand', {'id':brand.id} )}}">
                            {{ brand.products|length }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
        {# Create Brand #}
            <form action="{{path('manageBrands')}}" method='POST'>
                <label for="name">
                    Create New Brand
                </label>
                <input  class='form-control ' type="text" name="name" required="required"
                    placeholder="Name"
                    />
                <button type="submit" class="btn btn-primary mt-2">
                    Create
                </button>
            </form>

        {# Edit Brand #}
            {% if edit_brand is defined %}
            <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
                <label for="name">
                    Edit Brand "{{ edit_brand.name }}"
                </label>
                <input  class='form-control ' type="text" name="name" required="required"
                    placeholder="{{ edit_brand.name }}" value="{{ edit_brand.name }}"
                    />
                <button type="submit" class="btn btn-primary mt-2">                
                    Edit 
                </button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}