{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block header %}Create New Brand{% endblock %}

{% block main %}

    <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
        <label for="name">Name*</label>
        <input type="text" name="name" placeholder="Name" required="required"/>

        <button type="submit">Create Brand</button>
    </form>
    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}
    <h1>Brands</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    
        {% for brand in brands %}
        <tr>
            <td>{{ brand.name }}</td>
            <td class="buttons">
                <a href="{{ path('editBrand', {'id':brand.id}) }}" class="btn-edit">Edit</a>
                <a href="{{ path('removeBrand', {'id':brand.id}) }}" class="btn-delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}