{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block header %}Create New Category{% endblock %}

{% block main %}
    <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
        <label for="name">Name*</label>
        <input type="text" name="name" placeholder="Name" required="required"/>

        <button type="submit" class="btn btn-primary mt-2">Create Category</button>
    </form>

    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}

    <h1>Categories</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th>Products</th>
        </tr>
    
        {% for category in getCategories() %}
        <tr>
            <td>{{ category.name }}</td>
            <td class="actions">
                <a href="{{ path('editCategory', {'id':category.id}) }}" class="btn btn-warning">Edit</a>
                <a href="{{ path('removeCategory', {'id':category.id}) }}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a class="dropdown-item" href="{{ path('showCategory', {'id':category.id} )}}">
                    {{ category.products|length }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}