{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block header %}Categories{% endblock %}

{% block main %}


    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                    <th>Products</th>
                </tr>
            
                {% for category in getCategories() %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td class="actions">
                        <a href="{{ path('editCategory', {'id':category.id}) }}" class="btn btn-outline-warning actions">Edit</a>
                        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{category.id}}">
                            <span class="btn btn-outline-danger actions">Delete</span>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{category.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Remove Category <strong>{{category.name}}</strong></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span>Are you sure you want to remove the Category</br> 
                                            <strong>{{category.name}}</strong>?
                                        </span></br>
                                        <a href="{{ path('removeCategory', {'id':category.id}) }}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="{{ path('showCategory', {'id':category.id} )}}">
                            {{ category.products|length }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
        {# Create Category #}
            <form action="{{path('manageCategories')}}" method='POST'>
                <label for="name">
                    Create New Category
                </label>
                <input  class='form-control ' type="text" name="name" required="required"
                    placeholder="Name"
                    />
                <button type="submit" class="btn btn-primary mt-2">
                    Create
                </button>
            </form>

        {# Edit Category #}
            {% if edit_cat is defined %}
            <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
                <label for="name">
                    Edit Category "{{ edit_cat.name }}"
                </label>
                <input  class='form-control ' type="text" name="name" required="required"
                    placeholder="{{ edit_cat.name }}" value="{{ edit_cat.name }}"
                    />
                <button type="submit" class="btn btn-primary mt-2">                
                    Edit 
                </button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}