<div class="product">
    <div class="productFrame">
    <div class="productDetails">
        <div class="imageFrame">
            <a href="{{ path('productDetail', {'id':product.id}) }}">
                <img src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ product.images[0].name ) }}" alt="Image not available"/>
            </a>
        </div>
        {% if product.offer %}
        <p> 
            <span class="offer-final-price">{{ (product.price - (product.price*product.offer/100))|number_format(2, ',', '.') }} € </span></br>
            <span class="offer offerPerc"> Offer {{product.offer}}%</span>
            <span class="offer original-price">{{product.price|number_format(2, ',', '.')}} € </span>
        </p>
        {% else %}
        <p>{{product.price|number_format(2, ',', '.')}} € </p>
        {% endif %}

        <h2> 
            <a class="showCategory" href="{{ path('showCategory', {'id':product.category.id} )}}">{{ product.category.name }}</a>
            |
            <a class="showBrand" href="{{ path('showBrand', {'id':product.brand.id} )}}">{{ product.brand.name }}</a>
        </h2>
        <p class="modelName">
            <a class="model" href="{{ path('productDetail', {'id':product.id}) }}">
                {{product.model|slice(0,38)}}
                {% if product.model|length > 38 %}
                ...
                {% endif %}
            </a>
        </p>
        {% if product.stock == 0 %}
            <span class="stock notAvailable inThumb">No Stock</span>
        {% else %}
            <a href="{{ path('addToBasket', {'id':product.id})}}" class="btn btn-warning addToBasket inThumb">Add to Basket</a>
        {% endif %}
    </div>
    </div>
</div>