<nav id="menu" class="navbar navbar-expand-md">
				<div class="container-fluid">
					<div class="row justify-content-between style="width:100%;"">
						<div class="col-auto">
							{# <a class="navbar-brand" href="#">eCommerce</a> #}
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNavDropdown">
								<ul class="navbar-nav">
									<li class="nav-item">
										<a class="nav-link active" aria-current="page" href="{{ path('index') }}">
											Home
										</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Products
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											{% for category in getCategories() %}
												<li>
													<a class="dropdown-item" href="{{ path('showCategory', {'id':category.id} )}}">
														{{ category.name }}
													</a>
												</li>
											{% endfor %}
										</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											Brands
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											{% for brand in getBrands() %}
												<li>
													<a class="dropdown-item" href="{{ path('showBrand', {'id':brand.id} )}}">
														{{ brand.name }}
													</a>
												</li>
											{% endfor %}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-auto">
							<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
										Basket
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										{% set stats = statsBasket(app.user) %}
										<li><a href=
										{% if app.user %}
											"{{ path('basket', {'id':app.user.id}) }}"
											{% else %}
											"{{ path('basket')}}"
										{% endif %}
										>Basket ({{ stats.count }})</a></li>
										<li><a href="#">Total: {{ stats.total }} €</a></li>
									</ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
											{% if app.user %}
												{# {% if app.user.role == 'ROLE_USER' %} #}
												{{app.user.name ~ ' ' ~ app.user.surname}}
											{% else %}
												Login
											{% endif %}
										</a>
										<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
											{% if app.user %}
												<li><a href="{{ path('user_orders_index', {'id':app.user.id}) }}">My Orders</a></li>
												<li><a href="{{ path('manageOrders')}}">Manage Orders</a></li>
												<li><a href="{{ path('manageCategories')}}">Manage Categories</a></li>
												<li><a href="{{ path('manageBrands')}}">Manage Brands</a></li>
												<li><a href="{{ path('manageProducts') }}">Manage Products</a></li>

												<li><a href="{{path('register', {'id':app.user.id})}}">My details</a></li>
												<li><a href="{{path('logout')}}">Logout</a></li>
												</ul>
											{% else %}
												<form action="{{ path('login_check') }}" method="post">
													<label for="email">Email</label>
													<input type="email" id="username" name="_username" />

													<label for="password">Password</label>
													<input type="password" id="password" name="_password" />

													<input type="submit" value="Submit" class="btn btn-primary"/>
												</form>
												<li><a href="{{ path('register') }}">Register</a></li>
											{% endif %}
										</ul>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</nav>