{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is not null and newProduct is not null %}
        Edit Product
        {% else %}
        New Product
    {% endif %}
{% endblock %}

{% block header %}
    {% if edit is not null and newProduct is not null %}
    Edit</br>
        <a href="{{ path('productDetail', {'id': newProduct.id })}}">{{ newProduct.brand.name }} - {{ newProduct.model }}</a></br>
    {% else %}
        Create New Product
    {% endif %}
{% endblock %}


{% block main %}
    {% if message %}
        {% if error %}
            <span class="alert_red">{{message}}</span>
        {% else %}
            <span class="alert_green">{{message}}</span>
            {% if edit is null %}
             </br><a href="{{ path('productDetail', {'id': newProduct.id })}}">See Product Details</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <form class="container" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" method="POST"
    enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="images">Images</label></br>
                {% if newProduct.images is not empty %}
                    {% for image in newProduct.images  %}
                        <div class="image_thumb 
                            {% if image.getisdefault == true %}
                                default_image
                            {% endif %}
                            ">
                            <div id="image_options">
                                <a id="remove" href="{{ path('remove_image', {'id': image.id})}}">Remove</a>
                                {% if image.getisdefault == false %}
                                    <a id="set_default" href="{{ path('set_default', {'id': image.id})}}">Set as Default</a>
                                {% endif %}
                                <a id="see" href="{{ asset('/assets/imgs/products/'~ newProduct.id ~'/'~ image.name) }}" target="_blank">See</a>
                            </div>
                            <img src="{{ asset('/assets/imgs/products/'~ newProduct.id ~'/'~ image.name) }}"/>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if error.image is defined %}<span class="alert_red">{{ error.image }}</span>{% endif %} 
                <p><input class="form-control" type="file" name="images[]" multiple accept=".jpg, .jpeg, .png"></p>
            </div>
        </div>    
        <div class="row">
            <div class="col-md-3">
                <label for="category">Category*</label>
                <select class="form-select" name="category">
                    <option value="" 
                        {% if newProduct.category is empty %}
                        selected="selected"
                        {% endif %}
                        > Select Category 
                    </option>
                    {% for category in categories %}
                        <option value="{{category.id}}" 
                            {% if newProduct.category is not null and newProduct.category.id == category.id %}
                            selected="selected"
                            {% endif %} 
                            >{{category.name}}
                        </option>
                    {% endfor %}
                </select>
                {% if error.category is defined %}<span class="alert_red">{{ error.category }}</span>{% endif %} 

            </div>
            <div class="col-md-3">
                <label for="brand">Brand*</label>
                    <select class="form-select" name="brand">
                        <option value="" 
                            {% if newProduct.brand is empty %}
                            selected="selected"
                            {% endif %}
                            > Select Brand 
                        </option>
                        {% for brand in brands %}
                            <option value="{{brand.id}}"
                                {% if newProduct.brand is not null and newProduct.brand.id == brand.id %}
                                selected="selected"
                                {% endif %} 
                                >{{brand.name}}
                            </option>
                        {% endfor %}
                    </select>
                {% if error.brand is defined %}<span class="alert_red">{{ error.brand }}</span>{% endif %} 
            </div>
            <div class=" col-md-6">
                <label for="model">Model*</label>
                <input class="form-control" type="text" name="model" placeholder="Model" 
                    {% if newProduct.model is not null %}
                        value= "{{ newProduct.model }}"
                    {% endif %}
                    />
            {% if error.model is defined %}<span class="alert_red">{{ error.model }}</span>{% endif %} 
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label for="specifications">Specifications</label>
                <textarea class="form-control" name="specifications" placeholder="Specifications"
                >{% if newProduct is defined and newProduct.specifications is defined %}{{ newProduct.specifications }}{% endif %}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="price">Price*</label>
                <input class="form-control" type="number" name="price" placeholder="Price" pattern="[0-9]+" min=0 step="0.01"
                    {% if newProduct.price is defined %}
                        value= {{ newProduct.price }}
                    {% endif %}
                />
                {% if error.price is defined %}<span class="alert_red">{{ error.price }}</span>{% endif %} 
            </div>
            <div class="col-md-3">
                <label for="stock">Stock*</label>
                <input class="form-control" type="number" name="stock" placeholder="Stock" pattern="[0-9]+" min="0" step="1"
                    {% if newProduct.stock is defined %}
                        value= {{ newProduct.stock }}
                    {% endif %}
                />
                {% if error.stock is defined %}<span class="alert_red">{{ error.stock }}</span>{% endif %} 
            </div>
            <div class="col-md-3">
                <label for="offer">Offer</label>
                <input class="form-control" type="number" name="offer" placeholder="Offer" pattern="[0-9]+" step="1"
                    {% if newProduct.offer is defined %}
                        value= {{ newProduct.offer }}
                    {% endif %}
                />
                {% if error.offer is defined %} <span class="alert_red">{{ error.offer }}</span>{% endif %}
            </div>
            <div class="col-md-3">
                <label for="colour">Colour*</label>
                <input class="form-control" type="text" name="colour" placeholder="Colour" pattern="^[A-za-z]+[A-za-z ]+"
                    {% if newProduct.colour is defined %}
                        value= "{{ newProduct.colour }}"
                    {% endif %}
                />
                {% if error.colour is defined %} <span class="alert_red">{{ error.colour }}</span>{% endif %}
            </div>
        </div>
       <button type="submit" class="btn btn-primary mt-2">
            {% if edit is not null and newProduct is not null %}
                Confirm changes
                {% else %}
                Create Product
            {% endif %}
        </button>
        </br>
        <a class="btn btn-outline-primary mt-2" href="{{ path('manageProducts') }}">Manage Products</a>
        
    </form>
{% endblock %}
