{% extends 'base.html.twig' %}

{% block title %}
    {{ product.brand.name }} - {{ product.model }}
{% endblock %}

{% block header %}
    {{ product.brand.name }} - {{ product.model }}
{% endblock %}

{% block main %}
    {% if product is not null %}
        <a href="{{ path('editProduct', {'id': product.id })}}">Edit</a>
        <div id="detail-product">
            <div class="images_container">
                <div class="image main">
                    {% if main is not null %}
                        <img src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ main.name) }}"/>
                    {% else %}
                        <img src="{{ asset('assets/imgs/global/logo.png')}}"/>
                    {% endif %}
                </div>
                {% if product.images|length > 1 %}
                <div class="list">
                    {% for image in product.images %}
                        {% if image.id != main.id %}
                            <div class="image small">
                                <a href="{{ path('productDetail', {'id': product.id, 'img_id':image.id}) }}">
                                    <img src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ image.name) }}"/>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="data">
                <p>Category: <a href="{{path('showCategory', {'id':product.category.id})}}">{{ product.category.name }}</a></p>
                <p>Brand: <a href="{{path('showBrand', {'id':product.brand.id})}}">{{ product.brand.name }}</a></p>
                <p>Model: {{ product.model }}</p>
                <p>Colour: {{ product.colour }}</p>
                <p class="price">Price: {{ product.price }} €</p>
                <p><a href="{{ path('addToBasket', {'id':product.id})}}" class="btn btn-secondary">Add to Basket</a></p>
                {% if product.offer is not null %}
                    <p>Offer: {{ product.offer }} %</p>
                {% endif %}
                <p>Stock: 
                {% if product.stock == 0 %}
                    <span class="alert alert-danger">Product Not Available</span>
                {% else %}
                    {{ product.stock }}</p>
                {% endif %}
                {% if product.specifications is not null %}
                <p>Specifications: {{ product.specifications }}</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Product doesn't exist</h1>
    {% endif %}
{% endblock %}