{% extends 'base.html.twig' %}

{% block title %}
    {{ product.brand.name }} - {{ product.model }}
{% endblock %}

{% block header %}
    <a href="{{path('showBrand', {'id':product.brand.id})}}">{{ product.brand.name }}</a> - {{ product.model }}
{% endblock %}

{% block main %}
    {% if product is not null %}
        <a href="{{ path('editProduct', {'id': product.id })}}">Edit</a>
        <div id="detail-product">
            <div class="images_container">
                <div class="image main">
                    {% if main is not null %}
                        <img src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ main.name) }}"/>
                    {% else %}
                        <img src="{{ asset('assets/imgs/global/logo.png')}}"/>
                    {% endif %}
                </div>
                {% if product.images|length > 1 %}
                <div class="list">
                    {% for image in product.images %}
                        {% if image.id != main.id %}
                            <div class="image small">
                                <a href="{{ path('productDetail', {'id': product.id, 'img_id':image.id}) }}">
                                    <img src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ image.name) }}"/>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="data">
                <p><span class="field">Category:</span> <a href="{{path('showCategory', {'id':product.category.id})}}">{{ product.category.name }}</a></p>
                <p><span class="field">Colour:</span> {{ product.colour }}</p>
                {% if product.specifications is not null %}
                    <p><span class="field">Specifications:</span> {{ product.specifications }}</p>
                {% endif %}
                <p class="price"><span class="field">Price:</span>
                {% if product.offer %}
                    <span class="offer-final-price">{{ (product.price - (product.price*product.offer/100))|number_format(2, ',', '.') }} € </span></br>
                    <span class="offer offerPerc"> Offer {{product.offer}}%</span>
                    <span class="offer original-price">{{product.price|number_format(2, ',', '.')}} € </span>
                {% else %}
                <span class="noOffer">  {{ product.price|number_format(2, ',', '.') }} €</span>
                {% endif %}                
                <p><a href="{{ path('addToBasket', {'id':product.id})}}" class="btn btn-warning">Add to Basket</a></p>
                <p> 
                {% if product.stock == 0 %}
                    <span class="stock notAvailable">No Stock</span>
                {% elseif product.stock >= 10 %}
                    <span class="stock inStock">In Stock</span>
                {% else %}
                    <span class="stock onlyFew">Only {{ product.stock }} items available</span>
                {% endif %}
                </p>
            </div>
        </div>
    {% else %}
        <h1>Product doesn't exist</h1>
    {% endif %}
{% endblock %}