{% extends 'base.html.twig' %}

{% block title %}Manage Products{% endblock %}

{% block header %}Manage Products{% endblock %}

{% block main %}
    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}
<a href="{{ path('newProduct') }}" class="btn btn-success mb-2" >Create New Product</a>
<div class="overflow-auto">
    <table class="table align-middle table-striped table-hover table-bordered border-secondary">
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Price</th>
            <th>Offer</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    
        {% for product in products %}
        <tr>
            <td>{% if product.product.images is not empty %}
            <img class="img_basket" src="{{ asset('/assets/imgs/products/'~ product.product.id ~'/'~ product.product.images[0].name) }}"/>
            {% else %}
                 <img class="img_basket" src="{{ asset('assets/imgs/global/logo.png')}}"/>
            {% endif %}</td>
            <td><a href="{{ path('showCategory', {'id':product.product.category.id} )}}">{{ product.product.category.name }}</a></td>
            <td>{{ product.product.brand.name }}</td>
            <td>
                <a href="{{ path('productDetail', {'id':product.product.id}) }}">
                    {{ product.product.model }}
                </a>
            </td>
            <td>{{ product.product.colour }}</td>
            <td class="align-right">{{ product.product.price|number_format(2, ',', '.') }} €</td>
            <td>
                {% if product.product.offer is not null %}
                  {{ product.product.offer }} %
                {% else %}
                  None
                {% endif %}
            </td>
            <td class="stock">
                {% if product.product.stock == 0 %}
                <strong style="color:red">{{ product.product.stock }}</strong>
                {% elseif product.product.stock < 10 %}
                <strong style="color:orange">{{ product.product.stock }}</strong>
                {% else %}
                <strong style="color:green">{{ product.product.stock }}</strong>
                {% endif %}
            </td>
            <td>
                <a href="{{ path('editProduct', {'id':product.product.id}) }}" class="btn btn-outline-warning actions" >Edit</a>
                <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{product.product.id}}">
                    <span class="btn btn-outline-danger actions">Delete</span>
                </a>
                 <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{product.product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Remove <strong>{{product.product.brand.name}} {{product.product.model}}</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <span>The following Orders contain this Product:</br> 
                                {# {% for orderRow in product.product.orderRows %}
                                {{dump(orderRow.orderid.id)}}
                                {{ dump(product.orders) }}
                                {% endfor %} #}
                                {% for key, order in product.orders %}
                                    {{ order.id }}
                                {% endfor %}
                                </br>
                                <span>Are you sure you want to remove the Product</br> 
                                    <strong>{{product.product.brand.name}} {{product.product.model}}?</strong>
                                </span></br>
                                <a href="{{ path('removeProduct', {'id':product.product.id}) }}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>    
{% endblock %}