{% extends 'base.html.twig' %}

{% block title %}Manage Products{% endblock %}

{% block header %}Manage Products{% endblock %}

{% block main %}
            <a href="{{ path('newProduct') }}" class="btn btn-success float-right" >Create New Product</a>
    {% if message is defined %}
        <div class="message">{{message}}</div>
    {% endif %}

    <table>
        <tr>
            <th>Image</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Price</th>
            <th>Offer</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    
        {% for product in products %}
        <tr>
            <td>{% if product.images is not empty %}
            <img class="img_basket" src="{{ asset('/assets/imgs/products/'~ product.id ~'/'~ product.images[0].name) }}"/>
            {% else %}
                 <img class="img_basket" src="{{ asset('assets/imgs/global/logo.png')}}"/>
            {% endif %}</td>
            <td><a href="{{ path('showCategory', {'id':product.category.id} )}}">{{ product.category.name }}</a></td>
            <td>{{ product.brand.name }}</td>
            <td>
                <a href="{{ path('productDetail', {'id':product.id}) }}">
                    {{ product.model }}
                </a>
            </td>
            <td>{{ product.colour }}</td>
            <td class="align-right">{{ product.price|number_format(2, ',', '.') }} €</td>
            <td>
                {% if product.offer is not null %}
                  {{ product.offer }} %
                {% else %}
                  0
                {% endif %}
            </td>
            <td class="stock">{{ product.stock }}</td>
            <td class="actions">
                <a href="{{ path('editProduct', {'id':product.id}) }}" class="btn btn-outline-warning">Edit</a>
                <a href="{{ path('removeProduct', {'id':product.id}) }}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}