{% extends 'base.html.twig' %}

{% block title %}
    Manage Orders
{% endblock %}

{% block header %}
    Manage Orders
{% endblock %}

{% block main%}
    {% if orders is not empty %}
    <div class="table-responsive overflow-visible">
    <table class="table align-middle table-striped table-hover table-bordered border-secondary">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Delivered to</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{ path('orderDetails', {'id':order.order.id}) }}" target="_target">#{{order.order.id}}</a>
            </td>
            <td>
                <span>{{order.order.createdAt | date('d/m/Y')}}</span>
            </td>
            <td class="overflow-visible">
                <span class="dropdown">
                    <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {{order.order.receiverName}} {{order.order.receiverSurname}}
                    </a>
                        <div class="dropdown-content orders manageOrders" aria-labelledby="dropdownMenuLink">
                            <div>{{order.order.address}}</div>
                            <div>{{order.order.city}}</div>
                            <div>{{order.order.country}}</div>
                        </div> 
                </span> 
            </td>
            <td>
                <a class="dropdown-toggle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{order.order.id}}">
                    <span class="status">{{order.order.status}}</span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{order.order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Update Order #{{order.order.id}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{form_start(order.statusForm,{
                                        'attr': {'action':path('updateOrderStatus', {'id':order.order.id})}
                                    })}}
                                {{form_end(order.statusForm)}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <span>{{order.order.cost|number_format(2, ',', '.')}} €</span>
            </td>
        </tr>
        {% endfor %}
    </table>
                {# <div class="ord-header container-fluid">
                    <div class="row">
                        <div class="col-auto">
                            ORDERED:<br/>
                            <span>{{order.order.createdAt | date('d/m/Y')}}</span>
                        </div>
                        <div class="col-auto">
                            STATUS:<br/>
                            <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{order.order.id}}">
                                <span class="status">{{order.order.status}}</span>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop{{order.order.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Update Order #{{order.order.id}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{form_start(order.statusForm,{
                                                    'attr': {'action':path('updateOrderStatus', {'id':order.order.id})}
                                                })}}
                                            {{form_end(order.statusForm)}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="col-auto">
                            TOTAL:<br/>
                            <span>{{order.order.cost|number_format(2, ',', '.')}} €</span>
                        </div>
                        <div class="col-auto dropdown">
                            DELIVERED TO:<br/>
                            <span>{{order.order.receiverName}} {{order.order.receiverSurname}}</span>
                            <div class="dropdown-content myorders">
                                <div>{{order.order.address}}</div>
                                <div>{{order.order.city}}</div>
                                <div>{{order.order.country}}</div>
                            </div>                       
                        </div>                        
                        <div class="col-auto ms-md-auto text-end ">
                            Order #: {{order.order.id}}<br/>
                            <a href="{{ path('orderDetails', {'id':order.order.id}) }}" target="_target">Order details</a>
                        </div>
                    </div>
                </div> #}
        {# {% endfor %} #}
    {% else %}
        No existing orders yet.
    {% endif %}
{% endblock %}
